*{
    padding: 0;
    margin: 0;
}
section{
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: repeat(2fr);
    gap: 20px;
    max-width: 400px;
    margin: auto;
    font-size: 1.5rem;
}
section:hover{
    padding: 20px;
}
.card{
    /* background-color: aquamarine; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: paleturquoise;
    transition: Trandsform 0.2s;
    height: 500px;

    
}
.bg{
    margin: 10px;
    padding: 16px;
    color: ;
}
.as{
    padding: 16px;
}
.a{
    padding: 16px;
}
btn{

}